* {
    margin: 0;
}

#scene {
    width: 100vw;
    height: 56vw;
    position: relative;
    background-image: url(img/baggrund.svg);

}


.start {
    position: absolute;
    top: 30%;
    left: 40vw;
    height: 20vw;
    width: 20vw;
    cursor: pointer;

}

@keyframes puls {
    to {
        transform: scale(1.1);
        transform: scale(1.1);
    }
}

.puls {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.puls:hover,
.puls:focus,
.puls:active {
    animation-name: puls;
    animation-name: puls;
    animation-duration: 0.3s;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

/******* offer container ting********/

#offer_container {
    position: absolute;
}

.offer_start_pos {
    left: -10%;
    top: 10%;

}

.offer_move_right {
    animation-name: offer_move_right_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes offer_move_right_kf {
    0% {
        left: -10%;

    }
    100% {
        left: 60%;
    }
}


#sprite {
    background-image: url(img/spritesexogsamfund.svg);
    background-size: 800% 600%;
    z-index: 2;
    width: vw;
    height: 10vw;
}

.offer_walkcycle_right {
    animation-name: offer_walkcycle_right_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: forwards;
    animation-timing-function: steps(5);
}

@keyframes offer_walkcycle_right_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}


/******* sender container ting********/

#sender_container {
    position: absolute;
}

.sender_start_pos {}





/******* modtager container ting********/

#modtager_container {
    position: absolute;
}

.modtager_start_pos {}
