* {
    margin: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}


#baggrund {
    width: 100%;
    height: 100%;
    background-image: url(img/baggrund.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
}


/******* offer container ting********/

#offer_container {
    position: absolute;
}

.offer_start_pos {}


/******* offer sprite ting********/

#offer_sprite {}



/******* sender container ting********/

#sender_container {
    position: absolute;
}

.sender_start_pos {}

/******* sender sprite ting********/

#sender_sprite {}


/******* modtager container ting********/

#modtager_container {
    position: absolute;
}

.modtager_start_pos {}


/******* modtager sprite ting********/

#modtager_sprite {}
