* {
    margin: 0;
}

#scene {
    width: 100vw;
    height: 56vw;
    position: relative;
    background-image: url(img/baggrund.svg);

}


.start {
    position: absolute;
    top: 30%;
    left: 40vw;
    height: 20vw;
    width: 20vw;
    cursor: pointer;

}

@keyframes puls {
    to {
        transform: scale(1.1);
        transform: scale(1.1);
    }
}

.puls {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.puls:hover,
.puls:focus,
.puls:active {
    animation-name: puls;
    animation-name: puls;
    animation-duration: 0.3s;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

/******* offer container ting********/

#offer_container {
    position: absolute;
    top: 10%;
}

.offer_start_pos {
    left: -10%;
    top: 10%;

}

.offer_move_right {
    animation-name: offer_move_right_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes offer_move_right_kf {
    0% {
        left: -10%;

    }
    100% {
        left: 50%;
    }
}

/******* offer sprite********/

#offer_sprite {
    background-image: url(img/spritesexogsamfund2-02.svg);
    background-size: 600% 800%;
    z-index: 2;
    width: 15vw;
    height: 30vw;
}

.offer_walkcycle_right {
    animation-name: offer_walkcycle_right_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(6);

}

@keyframes offer_walkcycle_right_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -600% 0;
    }
}

/******* sender container ting********/

#sender_container {
    position: absolute;
    top: 50%;
}


.sender_start_pos {
    left: -10%;
    top: 50%;
}

.sender_move_right {
    animation-name: sender_move_right_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sender_move_right_kf {
    0% {
        left: -10%;

    }
    100% {
        left: 30%;
    }
}


/******* sender sprite********/

#sender_sprite {
    background-image: url(img/spritesexogsamfund2-02.svg);
    background-size: 600% 800%;
    z-index: 2;
    width: 15vw;
    height: 30vw;
}

.sender_walkcycle_right {
    animation-name: sender_walkcycle_right_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(6);

}

@keyframes sender_walkcycle_right_kf {
    0% {
        background-position: 0 -100%;
    }
    100% {
        background-position: -600% -100%;
    }
}

.kiggerPaaTelefon {
    animation-name: kiggerPaaTelefon_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

@keyframes kiggerPaaTelefon_kf {
    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -400% -200%;
    }
}

/******* modtager container ting********/

#modtager_container {
    position: absolute;
    top: 50%;
}

.modtager_start_pos {
    left: 110%;
    top: 50%;
}


.modtager_move_left {
    animation-name: modtager_move_left_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes modtager_move_left_kf {
    0% {
        left: 110%;
    }
    100% {
        left: 70%;
    }
}


/******* modtager sprite ting********/

#modtager_sprite {
    background-image: url(img/spritesexogsamfund2-02.svg);
    background-size: 600% 800%;
    z-index: 2;
    width: 15vw;
    height: 30vw;
}

.modtager_walkcycle_left {
    animation-name: modtager_walkcycle_left_kf;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(5);
}

@keyframes modtager_walkcycle_left_kf {
    0% {
        background-position: 0 -400%;
    }
    100% {
        background-position: -500% -400%;
    }
}
